<configuration scan="true" debug="false">
    <!-- Console Appender -->
    <appender name="console-tests" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{"HH:mm ss"})   %highlight(%-5level   %-130message)   %cyan(%c{0}:%line) %n</pattern>
        </encoder>
    </appender>

    <!-- Spring -->
    <logger name="org.springframework" level="INHERITED"/>

    <!-- Hibernate -->
    <logger name="org.hibernate" level="INHERITED"/>

    <!-- Sql -->
    <logger name="jdbc.sqlonly" level="INHERITED"/>
    <logger name="jdbc.sqltiming" level="INHERITED"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="jdbc.connection" level="ERROR"/>
    <logger name="log4jdbc.debug" level="ERROR"/>

    <!-- WebDriver Extensions -->
    <logger name="org.webdriverextensions" level="TRACE"/>

    <!-- Main log level (levels: TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF, INHERITED) -->
    <root level="WARN">
        <appender-ref ref="console-tests"/>
    </root>
</configuration>